* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #FFFFFF;
}

#workspaces button {
    padding: 5px;
    color: #FFFFFF;
    margin-right: 5px;
}

#workspaces button.active {
    color: #ffffff;
    background: #696969;
    border-radius: 10px;
}

#workspaces button.focused {
    color: #ffffff;
    background: #ffffff;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #ffffff;
    color: #000000;
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
    background: #262626;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
    color: #FFFFFF;
    background: #262626;
}

#workspaces {
    background: #262626;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    border-radius: 10px 0px 0px 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #ebebeb;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color:  #FFFFFF;
    border-radius: 10px 0px 0px 10px;

}

#pulseaudio {
    color: #FFFFFF;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #FFFFFF;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color:#FFFFFF;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}
#custom-wifi {
background: #262626;
padding: 0px 10px;
margin: 3px 0px;
margin-top: 5px;
color: #FFFFFF;
}

/* match network styling (left rounding like your old wifi) */
#custom-wifi {
border-radius: 10px 0px 0px 10px;
}

/* disconnected state */
#custom-wifi.disconnected {
color: #ff5555;
}
